{% extends 'base.html' %}
{% block head %}
BookMark Manager
{% endblock %}

{% block body %}
<h1 style='text-align:centre, font-family:sans-serif'>Bookmark Manager </h1>
<div class='content'>
  <table>
    <tr>
      <th>URL</th>
      <th>Website Name</th>
      <th>Date Added</th>
      <th>Action</th>
    </tr>
    {% for item in items %}
    <tr>
      <td>{{item.link}}</td>
      <td>{{item.name}}</td>
      <td>{{item.date_added.date()</td>
      <td>
        <a href='/update/{{item.id}}'>Update</a>
        <a href='/delete/{{item.id}}'>Delete</a>
      </td>
    </tr>
    {% endfor %}
  </table>
  <form action='/' method='POST'>
    <input type='text' id='link' name='link'>
    <input type='text' id='name' name='name'>
    <button type'submit'>Submit</button>
  </form>
</div>
{% endblock %}
